@charset "UTF-8";

body {
    font-family: Philosopher;
    /* background-color: #d0e2fa; */
}

button {
    font-family: Philosopher;
    background-color: #3964a1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding-bottom: 0.1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.margin-left {
    margin-left: 0.32rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.df {
    display: flex;
}

.title-image {
    height: 60px;
    margin: 1rem 0 1rem;
}

#titleModal {
    width: 360px;
    padding: 0.5rem 1.5rem;
    background-color: #d0e2fa;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#titleModal p {
    font-size: 1.5rem;
    margin: 1.2rem 0;
}

#titleModal input {
    width: 220px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    background-color: #fff;
    padding: 0 0.5rem;
    margin-bottom: 1.2rem;
}

#canvas1, #canvas2 {
    width: 320px;
    margin-left: 0.5rem;
}

.submit-btn {
    font-size: 1rem;
    height: 40px;
    width: 80px;
}

#test-play:hover {
    text-decoration: underline;
    cursor: pointer;
}

.headers {
    gap: 3rem;
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
    color: #432;
}

.headers p:hover {
    color: #13325d;
    cursor: pointer;
    text-decoration: underline;
}

#mask1, #mask2, #mask3 {
    background: rgba(0, 0, 0, .1);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}

#myPageModal, #howToPlayModal, #rankingModal {
    width: 350px;
    height: 610px;
    padding: 0.5rem 1rem 1.5rem;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    inset: 1.5rem 0 auto;
    margin: auto;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#closeMyPageButton, #closeHowToPlayButton, #closeRankingButton {
    position: absolute;
    bottom: 0.8rem;
    height: 30px;
    width: 60px;
    font-size: 0.9rem;
}

#closeMyPageButton:hover, #closeHowToPlayButton:hover, #closeRankingButton:hover, #play:hover, #inc:hover, #dec:hover {
    background-color: #13325d;
}

section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1rem;
}

.new {
    color: #ff5252;
    font-size: 1.3rem;
    position: absolute;
    top: -0.8rem;
    left: 1rem;
}

#if-not-loggedin {
    text-align: center;
    margin-top: 15rem;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

#stats-container, #ranking-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 1rem auto;
    padding-bottom: 0.5rem;
    position: relative;
    background-color: #f0f0f0;
}

.stats-tabs, .ranking-tabs {
    border-spacing: 0;
}

.stats-tabs th, .ranking-tabs th {
    font-weight: normal;
    text-align: center;
    padding: 0.5rem 2.14rem;
    border-bottom: 2px solid #ccc;
    font-size: 1.5rem;
    cursor: pointer;
}

.tab-selected {
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
}

#mypage-contents {
    font-size: 1.3rem;
}

#mypage-contents li {
    margin: 1.2rem 0 1.2rem 2rem;
}

.result-holder {
    align-items: center;
    background-color: #d0e2fa;
    border-radius: 10px;
    height: 50px;
    width: 280px;
    position: relative;
    margin-left: 1.1rem;
}

#log-out {
    text-align: right;
    margin-right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#log-out:hover {
    color: #13325d;
    text-decoration: underline;
}

#howToPlayModal p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.howToImg {
    height: 200px;
    text-align: center;
    margin: 0.5rem 0;
}

#ranking-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin: 1rem 0;
}

.ranking-holder {
    display: flex;
    align-items: center;
    background-color: #d0e2fa;
    border-radius: 10px;
    height: 60px;
    width: 280px;
    font-size: 1.3rem;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

.ranking-holder.pop {
    transform: scale(1.1);
}

.rank {
    font-size: 1.8rem;
    margin: 0 1.1rem;
}

.first {
    background-color: #f8f3be;
    padding-left: 0.1rem;
}

.second {
    background-color: #dbdfdf;
}

.third {
    background-color: #e7d9c8
}

#reload {
    position: absolute;
    top: 12.5%;
    right: 11px;
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    background-color: #ccc;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#reload:active {
    transform: scale(0.8);
}

#toWeekly, #toAllTime {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    background-color: #ccc;
    cursor: pointer;
}

#toWeekly {
    left: -16px;
}

#toAllTime {
    right: -16px;
}

#reload:hover, #toWeekly:hover, #toAllTime:hover {
    background-color: #bbb;
}

.results {
    text-align: center;
    margin: 1.5rem 0 0.5rem;
    font-size: 1.5rem;
    user-select: none;
}

#toggleResult {
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.score {
    margin: 1rem 0 1.5rem;
}

#goal {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    user-select: none;
}

.buttons {
    gap: 3rem;
    margin-bottom: 1rem;
}

#play {
    background-color: #3964a1;
    font-size: 2rem;
    height: 40px;
    width: 150px;
}

#inc, #dec {
    background-color: #3964a1;
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
}

#inc.disabled, #dec.disabled {
    background-color: #ddd; 
    cursor: auto;
}

#quit {
    background-color: #ff5252;
    font-size: 2rem;
    height: 40px;
    width: 80px;
}

#quit:hover {
    background-color: #c44040;
}

.red { color: #ff5252; }

.blue { color: #7192f5; }

.green { color: #30cf8a; }

#loading-mypage {
    padding: 10.18rem 0;
}

#loading-ranking {
    padding: 12.85rem 0;
}

.circles-to-rhombuses-spinner, .circles-to-rhombuses-spinner * {
    box-sizing: border-box;
}

.circles-to-rhombuses-spinner {
    height: 15px;
    width: calc( (15px + 15px * 1.125) * 3);
    display: flex;
    align-items: center;
    justify-content: center
}

.circles-to-rhombuses-spinner .circle {
    height: 15px;
    width: 15px;
    margin-left: calc(15px * 1.125);
    transform: rotate(45deg);
    border-radius: 10%;
    border: 3px solid #3964a1;
    overflow: hidden;
    background: transparent;
    animation: circles-to-rhombuses-animation 1200ms linear infinite;
}

.circles-to-rhombuses-spinner .circle:nth-child(1) {
    animation-delay: calc(150ms * 1);
    margin-left: 0
}

.circles-to-rhombuses-spinner .circle:nth-child(2) {
    animation-delay: calc(150ms * 2);
}

.circles-to-rhombuses-spinner .circle:nth-child(3) {
    animation-delay: calc(150ms * 3);
}

@keyframes circles-to-rhombuses-animation {
    0% {
    border-radius: 10%;
    }
    17.5% {
    border-radius: 10%;
    }
    50% {
    border-radius: 100%;
    }
    93.5% {
    border-radius: 10%;
    }
    100% {
    border-radius: 10%;
    }
}

@keyframes circles-to-rhombuses-background-animation {
    50% {
    opacity: 0.4;
    }
}

@media (min-width: 600px){
    .title-image {
        height: 80px;
        margin: 4.5rem 0 1rem;
    }

    #titleModal {
        width: 465px;
        padding: 0.5rem 2rem;
        margin-bottom: 2rem;
    }

    #titleModal p {
        margin: 1.5rem 0;
    }

    #titleModal input {
        width: 280px;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #canvas1, #canvas2 {
        width: 395px;
        margin-left: -0.2rem;
    }

    .submit-btn {
        font-size: 1.1rem;
        margin-right: 1rem;
    }

    .headers {
        margin: 3.5rem 0;
        font-size: 1.2rem;
    }

    #myPageModal, #howToPlayModal, #rankingModal {
        width: 465px;
        height: 730px;
        padding: 0.5rem 2rem 1.5rem;
        inset: 2.7rem 0 auto;
    }

    #closeMyPageButton, #closeHowToPlayButton, #closeRankingButton {
        bottom: 1.5rem;
    }

    section h2 {
        margin-top: 2rem;
    }

    #if-not-loggedin {
        margin-top: 17rem;
        font-size: 1.3rem;
    }

    #stats-container, #ranking-container {
        margin: 2rem auto;
    }

    .stats-tabs th, .ranking-tabs th {
        padding: 0.5rem 3rem;
    }

    #mypage-contents {
        font-size: 1.5rem;
    }

    #mypage-contents li {
        margin: 1.2rem 0 1.2rem 2.5rem;
    }

    .result-holder {
        width: 320px;
        margin-left: 2.5rem;
    }

    .margin-bottom {
        margin-bottom: 1.5rem;
    }

    #howToPlayModal p {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .howToImg {
        height: 250px;
        margin: 0 0 0.5rem;
    }

    #ranking-title {
        margin-top: 1.5rem;
    }

    #ranking {
        gap: 1rem;
        margin: 1.5rem 0;
    }

    .rank {
        font-size: 2rem;
        margin: 0 1.5rem;
    }

    .first {
        padding-left: 0.15rem;
    }

    .ranking-holder {
        height: 65px;
        width: 340px;
        font-size: 1.5rem;
    }

    #reload {
        top: 12%;
        right: 28px;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    #toWeekly, #toAllTime {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    #toWeekly {
        left: -22px;
    }

    #toAllTime {
        right: -22px;
    }

    .results {
        margin: 2.5rem 0 0.5rem;
    }

    #goal {
        margin-bottom: 3rem;
    }
}