@charset "UTF-8";

body {
    font-family: Philosopher;
    /* background-color: #d0e2fa; */
}

button {
    font-family: Philosopher;
    background-color: #3964a1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding-bottom: 0.1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.margin-left {
    margin-left: 0.32rem;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.headers {
    gap: 3rem;
    margin: 3.5rem 0;
    font-size: 1.2rem;
    color: #432;
}

.headers p:hover {
    color: #13325d;
    cursor: pointer;
    text-decoration: underline;
}

#mask1, #mask2, #mask3 {
    background: rgba(0, 0, 0, .1);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}

#myPageModal, #howToPlayModal, #rankingModal {
    width: 465px;
    height: 730px;
    padding: 0.5rem 2rem 1.5rem;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    inset: 2.7rem 0 auto;
    margin: auto;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

#closeMyPageButton, #closeHowToPlayButton, #closeRankingButton {
    position: absolute;
    bottom: 1.5rem;
    height: 30px;
    width: 60px;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

#closeMyPageButton:hover, #closeHowToPlayButton:hover, #closeRankingButton:hover, #play:hover, #inc:hover, #dec:hover {
    background-color: #13325d;
}

section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 2rem;
}

#if-not-loggedin {
    text-align: center;
    margin-top: 17rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
}

#stats-container, #ranking-container {
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 2rem auto;
    padding-bottom: 0.5rem;
    position: relative;
}

.stats-tabs, .ranking-tabs {
    border-spacing: 0;
}

.stats-tabs th, .ranking-tabs th {
    font-weight: normal;
    text-align: center;
    padding: 0.5rem 3rem;
    border-bottom: 2px solid #ddd;
    font-size: 1.5rem;
    cursor: pointer;
}

.tab-selected {
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
}

#stats {
    font-size: 1.5rem;
    padding-left: 2.5rem;
}

#stats li {
    margin: 1.2rem 0;
}

.result-holder {
    align-items: center;
    background-color: #d0e2fa;
    border-radius: 10px;
    height: 50px;
    width: 320px;
}

#log-out {
    text-align: right;
    margin-right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#log-out:hover {
    color: #13325d;
    text-decoration: underline;
}

#howToPlayModal p {
    margin-top: 1rem;
}

.howToImg {
    height: 250px;
    text-align: center;
    margin-bottom: 0.5rem;
}

#ranking-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

#ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.ranking-holder {
    display: flex;
    align-items: center;
    background-color: #d0e2fa;
    border-radius: 10px;
    height: 65px;
    width: 340px;
    font-size: 1.5rem;
}

.rank {
    font-size: 2rem;
    margin: 0 1.5rem;
}

.first {
    background-color: #f8f3be;
    padding-left: 0.18rem;
}

.second {
    background-color: #dbdfdf;
}

.third {
    background-color: #e7d9c8
}

#reload {
    position: absolute;
    top: 12.5%;
    right: 28px;
    transform: translateY(-12.5%);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    background-color: #ddd;
    padding-top: 0.2rem;
    cursor: pointer;
}

#toWeekly, #toAllTime {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    background-color: #ddd;
    cursor: pointer;
}

#toWeekly {
    left: -22px;
}

#toAllTime {
    right: -22px;
}

#reload:hover, #toWeekly:hover, #toAllTime:hover {
    background-color: #bbb;
}

.results {
    text-align: center;
    margin: 2.5rem 0 0.5rem;
    font-size: 1.5rem;
    user-select: none;
}

#toggleResult {
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.score {
    margin: 1rem 0 1.5rem;
}

#goal {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    user-select: none;
}

.buttons {
    gap: 3rem;
    margin-bottom: 1rem;
}

#play {
    background-color: #3964a1;
    font-size: 2rem;
    height: 40px;
    width: 150px;
}

#inc, #dec {
    background-color: #3964a1;
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
}

#inc.disabled, #dec.disabled {
    background-color: #ddd; 
    cursor: auto;
}

#quit {
    background-color: #ff5252;
    font-size: 2rem;
    height: 40px;
    width: 80px;
}

#quit:hover {
    background-color: #c44040;
}

.red { color: #ff5252}

.blue { color: #7192f5; }

.green { color: #30cf8a; }
